@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Volkhov:wght@700&display=swap');

h1 {
    text-align: center;
    color:crimson;
    font-family: 'Volkhov', 'Cardo';
    font-size: 300%;
    font-weight: 700;
    font-style: italic;
    padding: 20px 0 20px 0;
}

nav {
    text-align: center;
    font-weight: bolder;
    font-size: 150%;
}

.navigation-bar a {
    color: forestgreen;
}
