@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Volkhov:wght@700&display=swap');

h1 {
    text-align: center;
    color:crimson;
    font-family: 'Volkhov', 'Cardo';
    font-size: 300%;
    font-weight: bold;
    font-style: italic;
    padding: 10px 0 20px 0;
}

nav {
    text-align: center;
    font-weight: bolder;
    font-size: 150%;
    word-spacing: 60px;
    font-family: 'Volkhov', 'Cardo';
    padding-bottom: 0;
}

#page-header {
    background-color: rgb(245, 171, 214);
    padding: 20px 0 20px 0;
}

.navigation-bar a {
    color: rgb(35, 165, 35);
}

/* Home page image styling */
.row {
    display: flex;
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    flex: 25%;
    padding: 5px;
  }

  img {
    width: 100%;  
  }