@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Volkhov:wght@700&display=swap');

/* Page Header and Title */

.center {
    text-align: center;
    display: inline-block;
    width: 100%;
    font-size: 500%;
    position: relative;
    left: 20px;
    top: 40px;
    color: rgb(204, 26, 26);
}

h1 {
    text-align: center;
    vertical-align: super;
    margin-top: auto;
    font-weight: 700;
    font-size: 500%;
    font-family: 'Cardo', Volkhov;
    font-style: italic;
    color: rgb(204, 26, 26);
    letter-spacing: 3px;
}

#page-header {
    height: 30vh;
    background: rgb(248, 207, 248) 75% no-repeat;
}

/* Navigation bar styling */

nav {
    text-align: center;
    vertical-align: super;
    font-weight: bolder;
    font-size: 150%;
    word-spacing: 60px;
    font-family: 'Volkhov', Cardo;
    padding-bottom: 0;
    position: relative;
    top: -30px;
}

.navigation-bar a {
    color: forestgreen;
    text-decoration: none;
}

.home:hover {
    border-bottom: 2px solid forestgreen;
    font-style: italic;
}

.crafts:hover {
    border-bottom: 2px solid forestgreen;
    font-style: italic;
}

.contact:hover {
    border-bottom: 2px solid forestgreen;
    font-style: italic;
}

/* Home page image styling */

.row {
    display: flex;
}

.column {
    flex: 25%;
    padding: 5px;
}

img {
    width: 100%;
}

/* About us */

h2 {
    text-align: center;
    color: rgb(10, 139, 133);
    font-size: xx-large;
    font-weight: bolder;
    letter-spacing: 1px;
    font-family: 'Cardo', Volkhov;
}

h4 {
    text-align: center;
    color: rgb(134, 43, 238);
    font-family: 'Cardo', Volkhov;
    font-size: x-large;
    font-style: italic;
    font-weight: 900;
}

p {
    color: chocolate;
    font-weight: bolder;
    font-size: large;
}

.about-us {
    font-family: 'Cardo', Volkhov;
    font-size: large;
    text-align: center;
    display: grid;
    grid-template-areas: "  h2  "
        "  h4  "
        "  p  "
        "  p  ";
    grid-template-rows: 3fr;
    grid-template-columns: 2fr 3fr 2fr;
}

#about {
    grid-column-start: 2;
}

/* Styling of Thank you page footer */

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

footer {
    position: relative;
    right: 0;
    width: 100%;
}

/* Footer */

footer>a {
    padding: 0 10rem;
}

#footer {
    background-color: rgb(248, 207, 248);
    bottom: auto;
    width: 100%;
    height: 14rem;
}

.social-networks {
    text-align: center;
    list-style: none;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 180%;
    margin: 1%;
    padding: 5%;
}

#facebook {
    color: rgb(37, 37, 212);
}

#twitter {
    color: rgb(57, 154, 235);
}

#instagram {
    color: rgb(241, 106, 208);
}

#youtube {
    color: rgb(209, 28, 28);
}

/* Crafts */

.grid {
    display: grid;
    grid-template-areas:
        ". sect1 . sect2 ."
        ". sect3 . sect4 .";
    gap: 10px;
    grid-template-columns: 3rem 2fr 3rem 2fr 3rem;
    grid-template-rows: 2fr 50%;
}

.grid {
    grid-column-start: 2;
}

.sect1 {
    grid-area: sect1;
}

.sect2 {
    grid-area: sect2;
}

.sect3 {
    grid-area: sect3;
}

.sect4 {
    grid-area: sect4;
}

.crafts-title {
    text-align: left;
    font-family: 'Cardo', Volkhov;
}

h3 {
    font-family: 'Cardo', Volkhov;
    color: crimson;
    font-weight: bolder;
    font-style: italic;
    font-size: x-large;
}

li {
    font-family: 'Cardo', Volkhov;
    color: darkslategray;
    font-size: large;
    font-weight: bolder;
}

#top-left-image {
    width: 50%;
}

#bottom-left-image {
    width: 50%;
}

#top-right-video {
    width: 50%;
    height: 66%;
}

#bottom-right-video {
    width: 50%;
    height: 66%;
}

/* Contact */

form {
    color: purple;
    font-size: large;
    font-weight: bolder;
    font-family: 'Cardo', Volkhov;
    font-style: italic;
}

label {
    margin-left: 38%;
}

.contact-us {
    font-family: 'Cardo', Volkhov;
    font-style: italic;
    color: purple;
    align-items: center;
    text-align: center;
}

input[type=text] {
    width: 25%;
    align-items: center;
    padding: 12px 20px;
    margin-left: 38%;
    border: 2px solid purple;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Cardo', Volkhov;
    font-size: medium;
    display: block;
}

input[type=text]:focus {
    outline: none;
}

#button:hover {
    background-color: rgba(208, 69, 236, 0.849);
}

#button {
    border: 2px solid white;
    background-color: purple;
    cursor: pointer;
    color: white;
    font-weight: bold;
    padding: 10px 28px;
    font-size: medium;
    align-items: center;
    margin: 1% 0 0 47%;
}

#message {
    border: 2px solid purple;
    align-items: center;
    width: 25%;
    height: 45%;
    margin-left: 38%;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Cardo', Volkhov;
    font-size: medium;
    display: block;
}

#message:focus {
    outline: none;
}

/* Thank you page for submitted contact us */

.thank-you {
    font-family: 'Cardo', Volkhov;
    font-style: italic;
    color: purple;
    text-align: center;
}

.thank-you-message {
    font-family: 'Cardo', Volkhov;
    text-align: center;
}

.contact-us-message {
    padding: 10% 0 15% 0;
}

/* Media Queries */

/* For small screens min 320px max 480px wide and down */
@media screen and (min-width: 320px) and (max-width: 480px) {
    h1 {
        font-weight: 500;
        font-size: 300%;
    }

    .center {
        font-size: 380%;
        top: 2vh;
    }

    nav {
        font-size: 110%;
    }

    #page-header {
        height: auto;
        width: auto;
        margin: auto;
    }

    #img1 {
        display: none;
    }

    #img2 {
        display: none;
    }

    .about-us {
        display: grid;
        grid-template-areas: ". h2 ."
            ". h4 ."
            ". p ."
            ". p .";
        grid-template-columns: 10% 3fr 10%;
        grid-template-rows: 3fr;
    }

    .grid {
        display: grid;
        grid-template-areas:
            ". sect1 ."
            ". sect2 ."
            ". sect3 ."
            ". sect4 .";
        gap: 10px;
        grid-template-columns: 3rem 2fr 3rem;
        grid-template-rows: 2fr;
    }

    .grid {
        grid-column-start: 2;
    }

    #footer {
        width: auto;
        height: 50%;
        margin: auto;
    }

    label {
        margin-left: 22%;
    }

    input[type=text] {
        width: 65%;
        margin-left: 22%;
        align-items: center;
    }

    #message {
        width: 65%;
        height: 25%;
        margin-left: 22%;
        align-items: center;
    }

    #button {
        margin-left: 40%;
    }

    .contact-us-message {
        padding: 25% 0 100% 0;
    }

}

/* For medium screens min 481px max 768px wide and down */
@media screen and (min-width: 481px) and (max-width: 768px) {
    h1 {
        font-weight: 500;
        font-size: 300%;
    }

    .center {
        font-size: 300%;
        top: 2vh;
        bottom: 5vh;
    }

    #page-header {
        height: auto;
    }

    nav {
        font-size: 110%;
        position: relative;
        top: -10px;
    }

    #img1 {
        display: none;
    }

    .about-us {
        display: grid;
        grid-template-areas: ". h2 ."
            ". h4 ."
            ". p ."
            ". p .";
        grid-template-columns: 15% 3fr 15%;
        grid-template-rows: 2fr;
    }

    .grid {
        display: grid;
        grid-template-areas:
            ". sect1 ."
            ". sect2 ."
            ". sect3 ."
            ". sect4 .";
        gap: 10px;
        grid-template-columns: 3rem 2fr 3rem;
        grid-template-rows: 2fr;
    }

    .grid {
        grid-column-start: 2;
    }

    label {
        margin-left: 30%;
    }

    input[type=text] {
        width: 56%;
        margin-left: 30%;
        align-items: center;
        display: block;
    }

    #message {
        width: 56%;
        height: 22%;
        margin-left: 30%;
        align-items: center;
    }

    #button {
        margin-left: 48%;
    }

    .contact-us-message {
        padding: 25% 0 35% 0;
    }
}